# General
*.log
*.bak
*.swp
*~
.DS_Store

# Git
.git/
.gitignore.bak

# Python (Backend)
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Node.js (Frontend)
node_modules/
npm-debug.log
yarn-error.log
/build/

# Docker
*.tar.gz
docker-compose.yml

# Terraform
terraform.tfstate
terraform.tfstate.backup
*.tfstate*
.terraform/
crash.log
*.lock.hcl

# Kubernetes
*.kubeconfig
kubeconfig

# Ansible
*.retry

# Jenkins
*.jpi
*.hpi
*.bak

# Monitoring
helm/

# Temporary files
tmp/
temp/
